*.iws
*.war
.DS_Store
.settings
/*.launch
/*.tmproj
/out/**
stacktrace.log
test/reports
.link_to_grails_plugins*
application.properties
*.zip
target
web-app/WEB-INF
web-app/META-INF
target-eclipse
*Db.properties
*Db.script
eclipse
target
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
